node_modules
build
*.zip
.env
backend
*.log

dist
*.jsonl
src/utils/bins.json
src/utils/calculate.js
src/utils/getResults.js
src/utils/mbtiAverages.json
src/utils/weighted_traits_results.json
src/utils/trait_specific_results.json
src/utils/traits_excluding_openness_results.json
src/utils/weighted_comprehensive_results.json
src/utils/weighted_results.json
src/utils/bins-2024-12-20.json
src/utils/pearson.js
